body {
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-color: #f4f4f4; 
    margin: 0;
    padding: 0;
  }
  
  .left {
    width: 50%;
    position: fixed;
  }
  
  .right {
    padding-left: 50%;
  }
  
  .left img {
    height: auto;
    max-width: 100%;
    outline: 0;
  }

.container {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
